# Copy this file to .env and fill in your real values
# Windows cmd: copy .env.example .env

PORT=

# MongoDB connection string
MONGO_URI=

# Runtime environment
NODE_ENV=

# DNS servers to avoid querySrv ECONNREFUSED
MONGO_DNS_SERVERS=
